*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;}

.nav__link li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: brown;
    text-decoration: none;
}

.nav__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

}

.logo{
    cursor: pointer;
}

.nav__link{
    list-style: none;
}

.nav__link li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__link li a{
    transition: all 0.3s ease 0s;
}

.nav__link li a:hover{
    color: #000000;
}

.nav__link li:hover{
    transform: scale(1.2) ;
    transition: .4s;
    color: #d63030;
}


.boton button{
    background-color: rgb(179, 124, 124);
    color: rgb(73, 73, 73);
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.boton button:hover{
    color: white;
    transform: scale(1.2);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer i{
    font-size: 50px;
    color: #af4c6d;;
}
/* Inicio */
.menu_principal{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(220, 40%, 13%, 0.8)), url(../imagen/fondomaquina.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(219, 39%, 13%, 0.8)), url(../imagen/fondomaquina.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.menu_principal{
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: white;
}
/*
Main 
 */
.main_incio{
    padding: 1em;
}

.incio_principal{
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    gap: 1em;


}

/*
Primera seccion 
 */

.incio_secundario_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50px 50px;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    padding: 1em;
    color: white;


}
.t1{
    display: flex;
}
.t1 p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10%;
}

.t1 h1 a{
    display: flex;
    color: white;
    font-weight: 900;
    font-size: 45px;
    text-transform: uppercase;
    justify-content: center;
    padding: 1em 0 1em;
}
.t1 span{
    display: flex;
    justify-content: center;
    color: #9b3a5a;
}

/* 
segunda seccion
 */
.titulo{
    display: flex;
    height: 325px;
    padding: 1em;
}
.inicio_secundario_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    padding: 1em 0 1em;
    gap: 1em;
    grid-template-areas: 
    "img1 img9 img4"
    "img1 img3 img4"
    "img2 img3 img5"
    "img2 img3 img5";
}
.galeria_1{
    grid-area: img1;
}
.galeria_2{
    grid-area: img2;
}
.galeria_3{
    grid-area: img3;
}
.galeria_4{
    grid-area: img4;
}
.galeria_5{
    grid-area: img5;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.galeria::before{
    content: "Obra" "-"
    "Las delicias";
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.466);
    transform: translate(100%);
    transition: transform .4s;
    color: white;
}
.galeria:hover::before{
    transform: translate(0);
}

/* galeria */
.menu_galerias{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(220, 40%, 13%, 0.8)), url(../imagen/fondodegaleria.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(219, 39%, 13%, 0.8)), url(../imagen/fondodegaleria.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center
}
header{
    background-color: white;
}
.titulo{
    display: flex;
    color: white;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    padding: 1em 0 1em;
}
span{
    color: #af4c6d;
}
.main_galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    padding: 1em 0 1em;
    margin: 1em;
    gap: 1em;
    grid-template-areas:
    "img1 img0 img0 img0 img4"
    "img1 img0 img0 img0 img4"
    "img2 img3 img5 img5 img6"
    "img2 img3 img8 img7 img7"
    "img9 img9 img8 img7 img7";
}
.galeria_1{
    grid-area: img1;
}
.galeria_2{
    grid-area: img2;
}
.galeria_3{
    grid-area: img3;
}
.galeria_4{
    grid-area: img4;
}
.galeria_5{
    grid-area: img5;
}
.galeria_6{
    grid-area: img6;
}
.galeria_7{
    grid-area: img7;
}
.galeria_8{
    grid-area: img8;
}
.galeria_9{
    grid-area: img9;
}
.galeria{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.galeria::before{
    content: "Obra"
    ;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(66, 65, 65, 0.651);
    transform: translate(100%);
    transition: transform .4s;
    color: white;
}
.galeria:hover::before{
    transform: translate(0);
}

.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;    
}
footer i{
    color: #af4c6d; 
}
/* nosotros */
.menu_nosotros{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(220, 40%, 13%, 0.8)), url(../imagen/paranosotros.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(219, 39%, 13%, 0.8)), url(../imagen/paranosotros.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: white;
}

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 250px;
    gap: 1rem;
    padding: 1em 0 1em;
    grid-template-areas: 
    "img img1 img1"
    "img img1 img1"
    "img img2 img2"
    "img img2 img2";
}
.img_1{
    grid-area: img1;
}
.img_2{
    grid-area: img2;
}
.img_3{
    grid-area: img3;
}
.img{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: scale-down;


}
.titulo{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;

}
span{
    color: #af4c6d;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
footer i{
    color: #af4c6d;
    padding: 0 0 1em;
}

/* servicios */

.menu_servicios{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(220, 40%, 13%, 0.8)), url(../imagen/fondomaquina.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(219, 39%, 13%, 0.8)), url(../imagen/fondomain.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: white;
}
span{
    color: #af4c6d;
    text-align: center;
}
.main_servicios h1{
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 40px;
}
.main_servicio{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em;
    padding: 1em 0 5em;   
}

.main_servicio > section{
    border: 1px solid rgba(0, 0, 0, 0.582);
    background: #222222a6;
    width: 100%;
    height: auto;
    padding: 1em;
}
.main_servicio > section{
    box-shadow: 0 0 20px 0 rgba(165, 42, 42, 0.788);
}
.main_servicio h3{
    display: grid;
    justify-content: center;
    padding: 1em;
    font-weight: 700;
    font-size: 25px;
    color: white;
}
.main_servicio p{
    display: grid;
    padding: 1em;
    color: white;
    font-weight: 400;
    font-size: 20px;
}
.main_servicio label{
    display: grid;
    justify-content: center;
}
section form button {
    background-color: rgba(165, 42, 42, 0.623);
    border: 0;
    font-weight: 700;
    text-transform: uppercase;
}
section form button,
section form input,
section form textarea{
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid red;
    color: white; 
}
section form button:hover,
section form button:focus{
    background: #d63031
}
.main_servicio a{
    display: flex;
    justify-content: center;
    color: white
}

/* contacto */

.menu_contactos{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(220, 40%, 13%, 0.8)), url(../imagen/fondo\ de\ contacto.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(212, 40%, 24%, 0.801), hsla(219, 39%, 13%, 0.8)), url(../imagen/fondo\ de\ contacto.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #fff;
}

.formulario{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}
.logo_contacto{
    text-align: center;
    font-size: 3em;
    color: #f8f8f8;
}
.contenido-principal{
    box-shadow: 0 0 20px 0 rgba(248, 1, 1, 0.445);
}
.contenido-principal > *{
    padding: 1em;
}
.contenido-secundario{
    background-color: #222222;
}
.contenido-secundario form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenido-secundario form .block{
    grid-column: 1/3;
}
.contenido-secundario form p{
    margin: 0;
    padding: 1em;
}
.contenido-secundario form button,
.contenido-secundario form input,
.contenido-secundario form textarea{
    width: 100%;
    padding: 1em;
    border: none;
    background: none;
    border-bottom: 1px solid red;
    outline: 0;
    color: white;            
}
.contenido-secundario form button{
    background-color: #b70e21;
    border: 0;
    text-transform: uppercase;

}
.contenido-secundario form button:hover,
.contenido-secundario form button:focus{
    background: #d63031;
    color: white;
    transition: backgraound-color 1s ease-in-out;
}
.contenido-de-informacion{
    background-color: black;
}
.contenido-de-informacion form p{
    margin: 0;
    padding: 1em;
}
.contenido-de-informacion h4,
.contenido-de-informacion ul,
.contenido-de-informacion p{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contenido-de-informacion ul{
    list-style: 0;
    padding: 0;
}
.contenido-de-informacion li ul{
    padding: .3em;
}

@media (max-width: 700px){


    .nav__link{
        flex-direction: column;
        align-items: center;

    }
    .nav__link a, button{
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
        padding: 1em;
    }
    .galeria{
        flex-direction: column;
        align-items: center;
    }
    .t1{
        flex-direction: column;
    }
    .t1 h1 a{
        flex-direction: column;
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }
    .inicio_secundario_2{
        display: block;
    }
    footer i{
        font-size: 30px;
    }
    .main_galeria{
        display: block;
    }
    .nosotros{
        display: block;
    }
    .nosotros p {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 1em;
    }
    .titulo{
        font-size: 25px;
        height: 100px;
        padding: 1em;
    }
    .main_servicios h1{
        font-size: 25px;
    }
    .logo_contacto{
        font-size: 30px;
    }

    .formulario p,
    .formulario button{
        flex-direction: column-reverse;
        font-size: 13px;
        grid-template-columns: 1fr;
        text-align: center;
        justify-content: center;
        align-items: center;
    
    }
    .contenido-de-informacion li{
        font-size: 13px;

    }
    .contenido-de-informacion p{
        font-size: 12px;
    }
    .main_servicio{
        display: grid;
        grid-template-columns: 1fr;
    }
    .main_servicio label, p, button{
        font-size: 14px;
    }
    .main_servicio h3{
        font-size: 20px;
    }





    

    
    

    

    

}